@model IEnumerable<BiavlerWeb.Models.Varroataelling>

@{
    ViewData["Title"] = "MiddelVaerdi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MiddelVaerdi</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bistade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AntalVarroamider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observationsvarighed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bemaerkning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bistade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AntalVarroamider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observationsvarighed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bemaerkning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
        </tr>
}
    </tbody>
</table>
